.main-content {
	color: white;

	position: fixed;
	left: calc(250px + 4vw);

	background-color: rgb(8, 8, 16);

	min-height: 100%;
	width: calc(calc(100% - 300px) - calc(5.5vw));
    
    overflow-y: scroll !important;
    max-height: 100%;
}

.main-content .inner-content {
    padding-left: 32px;
    padding-top: 4px;
}

.main-content .inner-content p {
    font-size: 18px;
}

.main-content .inner-content .head-to-wiki {
    text-align: center;
    text-decoration: none;
}

.main-content .inner-content .itanium {
    color: rgb(52, 140, 255);
}

.main-content .inner-content .ski {
    color: rgb(248, 52, 255);
    text-decoration: none;
}

.main-content .inner-content h1, h2, h3, h4, h5 {
    margin-top: 0;
}