
.wiki-main-content {
	color: white;

	position: fixed;
	left: calc(250px + 4vw);

	min-height: 100%;
	width: calc(calc(100% - 300px) - calc(5.5vw));
    
    overflow-y: scroll !important;

    scrollbar-width: none;
    -ms-overflow-style: none;

    max-height: 100%;
}

.wiki-main-content::-webkit-scrollbar {
    display: none;
}

.wiki-main-content .inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wiki-main-content .inner-content .content-item {
    padding: 24px;
    background-color: rgb(8, 8, 16);
    background-clip: padding-box;
    margin-top: 24px;
}

.wiki-main-content .inner-content p {
    font-size: 18px;
}

.wiki-main-content .inner-content h1, h2, h3, h4, h5 {
    margin-top: 0;
}

.wiki-main-content .inner-content .toc {
    font-size: 18px;
}

.wiki-main-content .inner-content .toc a {
    color: lightcoral;
    text-decoration: none;
    font-size: 18px;
}

.wiki-main-content .inner-content .red {
    color: rgb(255, 48, 48);
}

.wiki-main-content .inner-content .blue {
    color: rgb(52, 140, 255);
}

.wiki-main-content .inner-content .pink {
    color: rgb(248, 52, 255);
}

.wiki-main-content .inner-content .coral {
    color: coral;
}

.wiki-main-content .inner-content .green {
    color: greenyellow;
}